---
layout: page
title: Technology
permalink: tech
description: this is the technology
---

<div class="container mt-4 mb-4">
  <h3>Technology</h3>
  <div class="row">
    {% for post in site.categories.tech %}
    {% if post.url %}
    <div class="col-md-4">
      <div class="card shadow-sm mb-2">
        <a href="{{post.url}}"><img src="{{ post.image | prepend: site.baseurl }}" href="{{post.url}}" class="card-img-top" alt="check"></a>
        <div class="card-body">
          <h4 class="card-title">{{ post.title }}</h4>
          <h5 class="card-text">{{post.excerpt | truncate: 80 }}</h5>
          <a href="{{ post.url }}" style="text-align: right;">Read More</a>
        </div>
      </div>
    </div>
    {% endif %}
    {% endfor %}
  </div>
</div>
