<aside class="bg-dark">
    <section>
        <div class="container text-center">
            <i class="las la-shopping-bag la-2x"></i>
            <h2>About</h2>
            <hr>
            <p style="max-width: 700px;">An all in one place for design, media, code, beliefs, faith, scripture, drums, finance, mutual funds, DIY, parenting, marriage, life events, intersting videos, animations and learning about purpose in life.<br><br> Building this I wanted to reference important artices, tips, hacks and resources that will help me reference them better in the future. If they are of interst of you subscribe to our newsletter to be updated with new and interseting finds on the web and in the world. Follow along if you wish. </p>
        </div>
    </section>
</aside>