<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <i class="fas fa-2x fa-angle-down mb-5"></i>
                <h2 class="section-heading">Shop our store.</h2>
                <hr class="light">
                <p class="text-faded">Resources and products we find worthwhile </p>
                <a href="/shop.html" class="btn btn-default btn-xl page-scroll">Shop Now</a>
            </div>
        </div>
    </div>
</section>
