<div class="footer">
  <div class="container">
    <div class="row mb-5">
      <div class="col-md-12 text-center">
        <h3 class="section-heading">Stay in touch</h3>
        <hr class="primary" >
        <p>Sign up to get emails when new content is published.</p>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-4">
        <h4 class="mb-2 mt-0">Links</h4>
        <ul class="list-unstyled">
          <li class="mb-2">
            <a href="about.html">About</a>
          </li>
          <li class="mb-2">
            <a href="shop.html">Shop</a>
          </li>
          <li class="mb-2">
            <a href="/topics.html">Topics</a>
          </li>
          <li class="mb-2">
            <a href="/resources.html">Resources</a>
          </li>
          <li>
            <a href="blog.html">Blog</a>
          </li>
        </ul>
      </div>
      <div class="col-sm-6">
        <h4 class="mb-2 mt-0">Recent Posts</h4>
        		<ul class="list-unstyled">
        			{% for post in site.posts | limit:3 %}
        			<div class="media">
        				<div class="media-left mb-1">
        					<a href="{{ post.url }}">
        						<img class="media-object mr-1" src="{{ post.image | prepend: site.baseurl }}" style="max-width: 70px;">
        					</a>
        				</div>
        				<div class="media-body">
        					<li>
        						<h5 class="mt-0 mb-0">
        							<a href="{{ post.url }}">{{ post.title }}</a></h5>
        							<p class="mt-0"><span style="font-size: 12px;">{{ post.date | date:" %b %d, %Y" }} </span>  </p>
        							</li>
        						</div>
        					</div>
        					{% endfor %}
        				</ul>
        			</div>
              <div class="col-sm-2">
                <h4 class="mb-2">About</h4>
                <p>reformed(adj) - ri-fȯrmed - <strong>changed for the better.</strong></p>
                <p>living(adj) - 'li-viŋ - <strong> having life. </strong></p>
              </div>
      </div>



  <div class="row">
    <div class="col-sm-12 text-center mt-4">
      <p style="font-size: 12px;">© {{ "now" | date: "%Y" }} Reformed Living. All rights reserved.</p>
    </div>
  </div>
    </div>
  </div>
