<section class="footer">
    <div class="container">
        <div class="row mb-5">
            <div class="col-md-12 text-center">
                <h3 class="section-heading">Stay in touch</h3>
                <hr class="primary" >
                <p>Never miss our content. Sign up to get an email when we publish new content.</p>

<!-- insert mailchimp email sign up here -->

            </div>
        </div>
            <div class="row text-center">
            <div class="col-sm-6">
                <ul class="list-unstyled">
                    <li class="mb-4">
                        About
                    </li>
                    <li class="mb-4">
                        Blog
                    </li>
                </ul>
            </div>
              <div class="col-sm-6">
                <ul class="list-unstyled">
                    <li class="mb-4">
                        Portfolio
                    </li>
                    <li class="mb-4">
                        Blog
                    </li>
                </ul>
            </div>
        </div>

    </div>
</section>
