<!-- <nav class="navbar navbar-expand-md">
  <a class="navbar-brand" href="/"><img src="/img/logo.png" style="max-height: 40px;"></a>
  <button class="navbar-toggler navbar-light" type="button" data-toggle="collapse" data-target="#navbarsExample04" aria-controls="navbarsExample04" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse text-center" id="navbarsExample04">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" href="/">Home</a>
      </li>
       <li class="nav-item">
        <a class="nav-link" href="/pages/topics.html">Topics</a>
      </li> 
      <li class="nav-item">
        <a class="nav-link" href="/blog.html">Blog</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/pages/resources.html">Resources</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/pages/about.html">About</a>
      </li>
    </ul>
  </div>
</nav> -->


<nav class="navbar sticky-top bg-gray navbar-expand-md">
  <div class="container-fluid">
  <a class="navbar-brand" href="/"><img src="/img/logo.png" style="max-height: 40px;"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample04" aria-controls="navbarsExample04" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>


<div class="collapse navbar-collapse text-center" id="navbarsExample04">
    <ul class="navbar-nav ms-auto">
      <li class="nav-item"><a href="/" class="nav-link active" aria-current="page">Home</a></li>
      <li class="nav-item"><a href="/blog.html" class="nav-link">Blog</a></li>
      <li class="nav-item"><a href="/pages/resources.html" class="nav-link">Resources</a></li>
      <li class="nav-item"><a href="/pages/about.html" class="nav-link">About</a></li>
      <!-- <li class="nav-item"><a href="#" class="nav-link">About</a></li> -->
    </ul>

</div>
</div>
</nav>