<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Topics we cover</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="las la-sitemap la-3x wow bounceIn text-primary"></i>
                    <h3>Web</h3>
                    <p class="text-muted">Content we find on the web.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="las la-street-view la-3x text-primary" data-wow-delay=".1s"></i>
                    <h3>Local</h3>
                    <p class="text-muted">Interesting things we find locally.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                  <i class="las la-globe-americas la-3x text-primary" data-wow-delay=".2s"></i>

                    <h3>Internationally</h3>
                    <p class="text-muted">What goes on around the world.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="las la-cross la-3x text-primary" data-wow-delay=".3s"></i>
                    <h3>Faith</h3>
                    <p class="text-muted">Scripture, sermons and songs.</p>
                </div>
            </div>
        </div>
    </div>
</section>
