<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">At Your Service</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fas fa-2x fa-store wow bounceIn text-primary"></i>
                    <h3>New</h3>
                    <p class="text-muted">We work</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fas fa-2x fa-photo-video wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <h3>Run</h3>
                    <p class="text-muted">We work</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fas fa-2x fa-cubes wow bounceIn text-primary" data-wow-delay=".2s"></i>
                    <h3>Fear</h3>
                    <p class="text-muted">We work</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-ad fa-2x wow bounceIn text-primary" data-wow-delay=".3s"></i>
                    <h3>Doubt</h3>
                    <p class="text-muted">We work</p>
                </div>
            </div>
        </div>
    </div>
</section>
