<div class="container mb-5 mt-5">
        <div class="row">
            <div class="col-md-6 offset-md-3 text-center">
                <i class="fas fa-2x fa-angle-down"></i>
                <h3 class="section-heading">Stay in touch</h3>
                <hr>
                <p class="text-muted">Sign up to get emails when new content is published.</p>


                <form name="subscription" action="/success.html">
                <div class="input-group input-lg mb-3">
                  <input type="email" class="form-control form-control-lg" name="email" placeholder="Email Address" aria-label="Recipient's username" aria-describedby="button-addon2" >
                  <div class="input-group-append">
                    <button class="btn btn-primary" type="submit" id="button-addon2">Subscribe</button>
                  </div>
                </div>
              </form>


            </div>
        </div>
    </div>
