<section class="no-padding" id="portfolio">
    <div class="container-fluid">
        <div class="row no-gutter">
            <div class="col-lg-4 col-sm-6">
                <a href="/pages/faith.html" class="portfolio-box">
                    <img src="img/assets/faith.jpg" class="img-fluid" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category">
                                Faith
                            </div>
                            <!-- <div class="project-description ">
                                Topics on Biblical authority
                            </div> -->
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="/pages/family.html" class="portfolio-box">
                    <img src="img/assets/family.jpg" class="img-fluid" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category">
                                Family
                            </div>
                            <!-- <div class="project-description">
                                Family is one of the basic pillars of society
                            </div> -->
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="/pages/entertainment.html" class="portfolio-box">
                    <img src="img/assets/music.jpg" class="img-fluid" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category">
                                Entertainment
                            </div>
                            <!-- <div class="project-description">
                                Why entertainment has a lot of influence
                            </div> -->
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="/pages/tech.html" class="portfolio-box">
                    <img src="img/assets/tech.jpg" class="img-fluid" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category">
                              Technology
                            </div>
                            <!-- <div class="project-description">
                                Where innovation has taken our society
                            </div> -->
                        </div>
                    </div>
                </a>
            </div>

            <div class="col-lg-4 col-sm-6">
                <a href="/pages/dailywalk.html" class="portfolio-box">
                    <img src="img/assets/travel.jpg" class="img-fluid" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                          <div class="project-category">
                              Daily Walk
                          </div>
                          <!-- <div class="project-description">
                              Word of encouragment and strenght
                          </div> -->
                        </div>
                    </div>
                </a>
            </div>

            <div class="col-lg-4 col-sm-6">
                <a href="/pages/finance.html" class="portfolio-box">
                    <img src="img/assets/group.jpg" class="img-fluid" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category">
                                Finance
                            </div>
                            <!-- <div class="project-description">
                                Plan for spending, saving, investing
                            </div> -->
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>