<section class="no-padding" id="portfolio">
    <div class="container-fluid">
        <div class="row no-gutter">
            <div class="col-lg-4 col-sm-6">
                <a href="faith.html" class="portfolio-box">
                    <img src="img/assets/faith.jpg" class="img-fluid" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category">
                                Faith
                            </div>
                            <div class="project-description ">
                                A take on Biblical authority
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="family.html" class="portfolio-box">
                    <img src="img/assets/family.jpg" class="img-fluid" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category">
                                Family
                            </div>
                            <div class="project-description">
                                Where the basic structure has gone and is
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="entertainment.html" class="portfolio-box">
                    <img src="img/assets/music.jpg" class="img-fluid" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category">
                                Entertainment
                            </div>
                            <div class="project-description">
                                Everyday influences
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="tech.html" class="portfolio-box">
                    <img src="img/assets/tech.jpg" class="img-fluid" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category">
                              Technology
                            </div>
                            <div class="project-description">
                                Where innovation has taken our society
                            </div>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col-lg-4 col-sm-6">
                <a href="travel.html" class="portfolio-box">
                    <img src="img/assets/travel.jpg" class="img-fluid" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                          <div class="project-category">
                              Travels
                          </div>
                          <div class="project-description">
                              Personal Travels and Locations
                          </div>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col-lg-4 col-sm-6">
                <a href="random.html" class="portfolio-box">
                    <img src="img/assets/group.jpg" class="img-fluid" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category">
                                Random Topic
                            </div>
                            <div class="project-description">
                                Various broad topics
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>
