---
layout: page
title: Topics
description: Browse posts and topics
---

<div class="container mt-4 mb-4">
  <div class="row">
    <div class="col-md-8">
        <h2>Topics</h2>
      {% for category in site.categories %}
      <h4 id="{{ category[0] | downcase | url_escape | strip | replace: ' ', '-' }}">{{ category[0] | capitalize }}</h4>
      <ul>
        {% assign pages_list = category[1] %}
        {% for post in pages_list %}
        {% if post.title != null %}
        {% if group == null or group == post.group %}
        <a href="{{ site.url }}{{ post.url }}">{{ post.title }} <time datetime="{{ post.date | date_to_xmlschema }}" itemprop="datePublished">- {{ post.date | date: "%B %d, %Y" }}</time></a><br>
        {% endif %}
        {% endif %}
        {% endfor %}
        {% assign pages_list = nil %}
        {% assign group = nil %}
      </ul>
      {% endfor %}
    </div>
    <div class="col-md-4">
      <h2>Quick Jump</h2>
      {% assign categories_list = site.categories %}
      {% if categories_list.first[0] == null %}
      {% for category in categories_list %}
      <a href="#{{ category | downcase | downcase | url_escape | strip | replace: ' ', '-' }}">{{ category | camelcase }} ({{ site.tags[category].size }})</a><br>
      {% endfor %}
      {% else %}
      {% for category in categories_list %}
      <a href="#{{ category[0] | downcase | url_escape | strip | replace: ' ', '-' }}">{{ category[0] | capitalize }} ({{ category[1].size }})</a><br>
      {% endfor %}
      {% endif %}
      {% assign categories_list = nil %}
    </div>
  </div>
</div>
