{% include head.html %}
{% include nav.html %}
{% include scripts.html %}

<div class="section-post ">
<div id="fade">
	<div class="container text-center">
		<h6> PUBLISHED: {{ page.date | date: "%A %b %d, %Y" }} </h6>
		<h1> {{ page.title }} </h1>
		<h4 class="mb-4"> {{ page.excerpt }} </h4>
			<h6> BY: {{ page.author }} </h6>
			<h6> TAGS: {{ page.tags }} </h6>
			<h6> CATEGORY: {{ page.categories }} </h6>
			<h6> DURATION: {{ page.duration }} min </h6>
	</div>
</div>
</div>


<div class="container">
		<div class="col-md-12 content">

				{{ content }}

		</div>
</div>
{% include footer.html %}
