{% include head.html %}
{% include nav.html %}
{% include scripts.html %}

<div class="section-post">
	<div id="fade">
		<div class="container text-center">
			<h6> <i class="fas fa-calendar-week"></i> {{ page.date | date: "%B %d, %Y" }} </h6>
			<h2 class="m-3 mx-auto" style="max-width: 600px;"> {{ page.title }} </h2>
			<!-- <h6> <i class="far fa-clock"></i> {{ page.duration }} min </h6> -->
		</div>
	</div>
</div>

<div class="container">
	<div class="content mx-auto" style="max-width: 600px;">
		<div class="d-flex align-items-center mb-3">
			<div class="justify-content-end">
				{% if page.author-image %}
				<img src="{{ page.author-image }}" style="max-width: 7%; border-radius: 100%;"
					alt="{{ page.author-title }}">
				{% elsif page.author-img > 0 %}
				<img src="{{ page.images[0] }}" alt="{{ page.title }}">
				{% else %}
				<img src="/img/icon.png" style="max-width: 7%; border-radius: 100%;" alt="Default Image">
				{% endif %}
			</div>
			<div class="flex-shrink-0">
				<h6 class="mb-0"><b>Article by: </b> {{ page.author }}</h6>
				<h6> {{ page.author-title }}</h6>
			</div>
		</div>

		{{ content }}

	</div>
</div>

{% include aside.html %}

{% include footer.html %}